<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yunding.answer.mapper.AskingMapper">

    <!--查询所有题库-->
    <select id="getQuestionLib" resultType="com.yunding.answer.dto.QuestionLibDto">
        select library_id,library_name,library_rank,image,introduction from question_library
    </select>

    <!--查询题库的所有题-->
    <select id="getQuestionsFromLib" parameterType="com.yunding.answer.form.LibIdForm" resultType="string">
        select question_id from question_form_library where library_id = #{libId}
    </select>

    <!--查询题库的所有选择填空判断题-->
    <select id="getNorQuesFromLib" parameterType="com.yunding.answer.form.LibIdForm" resultType="string">
        select question_form_library.question_id from question_form_library,questions_info where library_id = #{libId}
        and questions_info.question_id = question_form_library.question_id
        and (question_type_id = 1
             or question_type_id = 2
             or question_type_id = 3
             )
    </select>

    <!--通过题目id集合获取题目信息-->
    <select id="getQuestionsInfo" parameterType="arraylist" resultType="com.yunding.answer.dto.AskingQuestionDto">
        select question_id,type_info,question_content,checkA,checkB,checkC,checkD,tag_info
        from questions_info,question_type,question_tag
        where questions_info.question_tag_id = question_tag.question_tag_id
        and questions_info.question_type_id = question_type.question_type_id
        and (
        <foreach collection="list" item="item" index="index" separator=" or ">
            question_id = #{item}
        </foreach>
        )
        order by questions_info.question_type_id
    </select>

    <!--通过题目id获取题目信息-->
    <select id="getQuestionInfo" parameterType="string" resultType="com.yunding.answer.dto.AskingQuestionDto">
        select question_id,type_info,question_content,checkA,checkB,checkC,checkD,tag_info
        from questions_info,question_type,question_tag
        where questions_info.question_tag_id = question_tag.question_tag_id
              and questions_info.question_type_id = question_type.question_type_id
              and (questions_info.question_type_id = 1
                   or questions_info.question_type_id = 2
                   or questions_info.question_type_id = 3)
              and question_id = #{qid}
    </select>

    <!--通过题目id获取答案-->
    <select id="getAnswerById" parameterType="string" resultType="string">
        select questions_info.answer,type_info from questions_info,question_type where
        questions_info.question_type_id = question_type.question_type_id and

            question_id = #{qid}

    </select>

    <!--插入答题记录-->
    <insert id="insertAskingRecord" parameterType="com.yunding.answer.form.AnswerRecordForm">
        insert into answer_record( user_id, used_time, accuracy, library_id,createAt)
                    values(#{userId},#{usedTime},#{accuracy},#{libraryId},unix_timestamp())
    </insert>

    <!--查询该用户最新的记录id-->
    <select id="getNewRecordId" parameterType="string" resultType="string">
        select answer_record.answer_id from answer_record where user_id=#{userId} order by createAt desc limit 1
    </select>

    <!--插入答题记录详情-->
    <insert id="insertAskingRecordInfo" >
        insert into answer_record_info(answer_id, question_id, is_true, user_answer)
        value
        <foreach collection="answerRecordForms" item="item" index="index" separator=",">
            (#{param2},#{item.questionId},#{item.isTrue},#{item.userAnswer})
        </foreach>
    </insert>

    <!--查找错题集中的题目id和错误次数-->
    <select id="getQidAndWrongTime" parameterType="string" resultType="com.yunding.answer.dto.QidAndWrongTimeDto">
        select wrong_questions_record.question_id,wrong_time from wrong_questions_record where user_id = #{userId}
    </select>

    <insert id="insertWrongQuestionsRecord">
        insert into wrong_questions_record(question_id,user_answer, user_id, library_id)
                    value
                    (#{param1.questionId},#{param1.userAnswer},#{param2},#{param3})
    </insert>


    <!--查询每日做题时间-->
    <select id="getDailyTime" parameterType="string" resultType="integer">
        select learning_plan.daily_study_time from learning_plan where learning_plan.user_id = #{userId}
    </select>

    <!--查询总做题量-->
    <select id="getTotalAskNum" parameterType="string" resultType="integer">
        select user_info.total_exercises_quantity
               from user_info where user_info.user_id = #{userId}
    </select>


    <!--更新查询每日做题时间-->
    <update id="updateDailyTime" parameterType="string" >
        update learning_plan set daily_study_time = #{param2}
        where user_id = #{param1}
    </update>

    <!--更新总做题量-->
    <update id="updateTotalAskNum" parameterType="string">
        update user_info set total_exercises_quantity = #{param2}
        where user_id = #{param1}
    </update>

    <!--更新错误次数-->
    <update id="updateWrongTime" parameterType="string">
        update wrong_questions_record set wrong_time = (#{param1}+1)
        where question_id = #{param2} and user_id = #{param3}
    </update>

    <!--获取闯关数-->
    <select id="getStageNum" parameterType="string" resultType="string">
        select stage_record.stage_num from stage_record where user_id
        = #{userId}
    </select>

    <!--更新闯关数-->
    <update id="updateStageNum" parameterType="string">
        update stage_record set stage_num = (#{param2}+1)
        where user_id = #{param1}
    </update>

    <!--插入闯关数-->
    <insert id="insertStageNum" parameterType="string">
        insert into stage_record(stage_num, user_id) value
        (1,#{userId})
    </insert>

    <!--获取答案和解析-->
    <select id="getAnswerAndAnalysis" parameterType="string" resultType="com.yunding.answer.dto.AnswAndAnalyDto">
        select questions_info.answer,questions_info.analysis from questions_info
        where question_id = #{qid}
    </select>

    <!--通过时间获取答题记录-->
    <select id="getAnswerRecord" resultType="com.yunding.answer.dto.AnswerRecordDto">
        select FROM_UNIXTIME(answer_record.createAt,'%Y-%m-%d %H:%i:%S') as createAt,
        answer_id,used_time,accuracy,question_library.library_name,introduction,image,library_rank
        from answer_record,question_library
        where answer_record.library_id = question_library.library_id
        and user_id = #{param3}
        and answer_record.createAt &lt; #{param2}
        and answer_record.createAt &gt; #{param1}
        order by answer_record.createAt desc
    </select>

    <!--获取获取答题记录详情-->
    <select id="getAnswRecoInfo" parameterType="string" resultType="com.yunding.answer.dto.AnswerRecordInfoDto">
        select questions_info.question_id,type_info,question_content,
               checkA,checkB,checkC,checkD,tag_info,user_answer,is_true
        from questions_info,question_tag,question_type,answer_record_info
        where answer_id = #{answerId}
              and questions_info.question_id = answer_record_info.question_id
              and question_tag.question_tag_id = questions_info.question_tag_id
              and question_type.question_type_id = questions_info.question_type_id
        order by question_type.question_type_id
    </select>

</mapper>